@charset "UTF-8";

body {
    background-color: rgb(221, 222, 176);
    font-family: arial;
    font-size: 20px;
}

h1 {
    color: maroon;
    background-color: darkgoldenrod;
}

h2 {
    color: darkred;
}

p {
    text-align: justify;
}