@charset "UTF-8";

body {
    background-color: rgb(205, 255, 203);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(4, 109, 0);
}

h1#principal {
    text-align: center;
    background-color: green;
    color: white;
}

.basico {
    color: #3c805e;
}

.intermediario {
    color: #a5a20f;
}

.avancado {
    color: #a31e1e;
}

.destaque {
    background-color: #f8f41493;
}